<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SKY-HELPLINE</title>
    {% if request.endpoint == 'helpline' %}
    <script>
        alert("Helpline is provided cool 🆒");
    </script>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
</head>
<body><center><h3>SKY HELPLINE</h3>
<p><h4>Have you ever wondered: Where does this link go? The sky Tool follows the path of the URL.<br>
    It allows you to see the complete path a redirected URL goes through. It will show you the <br>
    full redirection path of URLs, shortened links, or tiny URLs.</h4></p>

<p>Coded by:SKY TECH  
<button><a href="/">GO TO HOME</a> </button>
</body>
</html>